In [2]:
import pandas as pd

gtd=pd.read_csv('gtd.csv',encoding='latin1',low_memory=False)

gtd.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,0,0,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [41]:
from sklearn import preprocessing

def logRegr(features,itarget):
    from sklearn import linear_model as lm
    from sklearn.model_selection import train_test_split

    X_train, X_test, y_train, y_test = train_test_split(features, itarget, test_size=0.20)

    lr=lm.LogisticRegression(penalty='l2', dual=False, tol=0.0001, C=1e5, fit_intercept=True, 
                             intercept_scaling=1, class_weight=None, random_state=None, solver='liblinear', 
                             max_iter=100, multi_class='ovr', verbose=0, warm_start=False, n_jobs=1)


    lr.fit(X_train, y_train)
    print(lr.score(X_test, y_test))
    
def transformData(target):
    le = preprocessing.LabelEncoder()
    le.fit(target)
    target=le.transform(target)
    return target

In [42]:
from pandas import Series as s
gtd=gtd[gtd['gname']!='Unknown']

for gname in s.unique(gtd['gname']):
    if len(gtd[gtd['gname']==gname])<5: 
        gtd=gtd[gtd['gname']!=gname]

for i in range(12):
    regionTxt=s.unique(gtd['region_txt'])[i]
    region=s.unique(gtd['region'])[i]
    regData=gtd[gtd['region']==region]
    itarget=transformData(regData['gname'])
    features=regData[['country', 'attacktype1', 'iyear']]
    print(regionTxt+' '+str(regData.shape))
    print(s.unique(regData['gname']).shape)
    logRegr(features,itarget)

North America (2053, 137)
(77,)
0.240875912409
South America (12972, 137)
(84,)
0.55838150289
Sub-Saharan Africa (7836, 137)
(95,)
0.430484693878
Southeast Asia (5099, 137)
(63,)
0.470588235294
Western Europe (9969, 137)
(152,)
0.473921765296
Central America & Caribbean (6358, 137)
(65,)
0.675314465409
Middle East & North Africa (14775, 137)
(145,)
0.339086294416
Australasia & Oceania (61, 137)
(17,)
0.846153846154
Eastern Europe (1463, 137)
(29,)
0.41638225256
South Asia (18028, 137)
(149,)
0.542151968941
East Asia (230, 137)
(16,)
0.652173913043
Central Asia (50, 137)
(13,)
0.1